{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Карточки
{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <hr>
    <h1>Карточки</h1>
    <hr>

    <a href="{% url 'card_new' %}">Добавить новую карточку</a>
    <hr>

    {% for object in object_list %}
        <a href="{% url 'card_detail' pk=object.pk %}">{{ object.name }}</a>
        (
        {% for item in object.cardtag_set.all %}
            {% if item.is_active %}
                <a href="{% url 'tag_detail' pk=item.tag.pk %}">{{ item.tag.name }}</a>
            {% endif %}
        {% endfor %}
        )
        <br>
    {% endfor %}

{% endblock %}