<ul class="menu">

    <li>
        <a href="{% url 'main' %}">
            Главная страница
        </a>
    </li>

    <li>
        <a href="{% url 'cards' %}">
            Карточки
        </a>
    </li>

    <li>
        <a href="{% url 'tags' %}">
            Теги
        </a>
    </li>

    <li>
        {% if user.is_authenticated %}
            пользователь: [{{ user }}]
        {% else %}
            <a href="{% url 'login' %}">
                вход
            </a>
        {% endif %}
    </li>

</ul>
