<ul class="menu">

    <li>
        <a href="{% url 'main' %}">
            Главная страница
        </a>
    </li>

    <li>
        <a href="{% url 'cards' %}">
            Карточки
        </a>
    </li>

    <li>
        <a href="{% url 'tags' %}">
            Теги
        </a>
    </li>

    <li>
        <a href="{% url 'card_tag' %}">
            Привязки тегов
        </a>
    </li>

    <li>
        <a href="http://138.197.184.173/html/">
            Документация проекта
        </a>
    </li>

    <li>
        {% if user.is_authenticated %}
            пользователь: [{{ user }}]
        {% else %}
            <a href="{% url 'login' %}">
                вход
            </a>
        {% endif %}
    </li>

</ul>
