<ul class="menu">

    <li {% if request.resolver_match.url_name == 'tags' %} class="active" {% endif %} >
        <a href="{% url 'tags' %}">
            Теги
        </a>
    </li>

    <!--
     <li % if request.resolver_match.url_name == 'main' % class="active" % endif % >
        <a href="% url 'main' %">
            Главная страница
        </a>
    </li>
    -->

    <li {% if request.resolver_match.url_name == 'cards' %} class="active" {% endif %} >
        <a href="{% url 'cards' %}">
            Карточки
        </a>
    </li>


    <li {% if request.resolver_match.url_name == 'card_tag' %} class="active" {% endif %} >
        <a href="{% url 'card_tag' %}">
            Привязки тегов
        </a>
    </li>

    <!--
    <li>
        <a href="http://138.197.184.173/html/">
            Документация
        </a>
    </li>
    -->

    <li>
        {% if user.is_authenticated %}
            пользователь: [{{ user }}]
        {% else %}
            <a href="{% url 'login' %}">
                вход
            </a>
        {% endif %}
    </li>

</ul>
