<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Вход на сайт</h1>
    {% if error %}
        <div style="color:red;">{{ error }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="text" name="username" placeholder="Логин">
        </label>
        <label>
            <input type="password" name="password" placeholder="Пароль">
        </label>
        <input type="submit" value="Войти">
    </form>

</body>
</html>