{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Тег
{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <hr>
    <h1>Тег</h1>
    <hr>

    <a href="{% url 'tag_edit' pk=object.pk %}">Изменить тег</a>
    /
    <a href="{% url 'tag_delete' pk=object.pk %}">Удалить тег</a>

    <hr>
    <h2>{{ object.name }}</h2>
    <hr>

    <p>здесь будет список карточек</p>

    <br>
    <p>Автор: {{ object.user }}</p>
    <p>Создано: {{ object.created|date:"d-E-Y P" }}</p>
    <p>Изменено: {{ object.edited|date:"d-E-Y P" }}</p>

{% endblock %}
